body{
  background-color: #F9F4DA;
}
h2{
  font-size: 0.85em;
}
h3{
  font-size: 0.8em;
}
p{
  font-size: 0.8em;
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background-color: #F9F4DA;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 343px;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-nav a:hover{
  text-decoration: none;
}

.sidebar-brand{
  padding: 5px 25px 5px 25px;
  background-color: #1E466E;
  color: white;
}
.sidebar-brand:hover{
  background-color: #617e9b;
  cursor: pointer;
}

.sidebar-collapse{
  display: none;
  padding: 0;
  list-style-type: none;
  background-color: #1E466E;
}
.sidebar-collapse li{
  padding-left: 50px;
}

#sidebar-footer{
  position: relative;
  top: 0px;
}

.selected{
  background-color: #617e9b;
}

#viewer{
  width: 100%;
}

@media (max-width:767px) {

  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    position: relative;
    left: 250px;
  }

  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }

}

.cover-image{
  width: 200px;
  display: block;
  margin: 25px auto;
}
